.pc__card {
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;
}

.pc__content {
  margin-top: 15px;
}

.pc__image > img {
  border-radius: 5px;
}

.pc__name {
  font-family: 'Abhaya Libre', serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
}

.pc__distance {
  font-size: 14px;
  line-height: 19px;
  margin-top: 6px;
}
