.Form {
  background: #ffffff;
  border-radius: 10px;
  padding: 45px 30px 30px 30px;
  width: fit-content;
}

.form__header {
  color: #ffc700;
  font-size: 36px;
  font-weight: 900;
  line-height: 49px;
  margin-bottom: 30px;
}

/* Container */
.form__input-container {
  min-width: 350px;
}

/* Form Input Group */
.form__input-group {
  margin-bottom: 20px;
}

.form__input-group:last-child {
  margin-bottom: 0;
}

.form__input-group > input,
.form__input-group > select {
  background: rgba(210, 210, 210, 0.25);
  border: 2px solid #d2d2d2;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 25px;
  padding: 12px 15px;
  width: 100%;
}

.form__input-group > input::placeholder,
.form__input-group > input::-moz-placeholder,
.form__input-group > input::-ms-input-placeholder {
  color: #b1b1b1;
}

.form__input-group > select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  text-indent: 1px;
  text-overflow: '';
}

.form__input-group > select::-ms-expand {
  display: none;
}

.form__select-group {
  position: relative;
}

.form__select-arrow {
  pointer-events: none;
  position: absolute;
  transform: translateY(50%);

  bottom: 50%;
  right: 15px;
}

.form__submit {
  background: #433434;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 900;
  line-height: 25px;
  margin-top: 30px;
  padding: 12px 15px;
  width: 100%;
}

.form__footer {
  margin-top: 24px;
}

.form__link span {
  font-weight: 800;
}

.form__link {
  color: #b1b1b1;
  cursor: pointer;
  font-size: 18px;
  line-height: 21px;
  margin: auto;
  width: fit-content;
}

.form__link:hover {
  text-decoration: underline;
}

/* Delivery Location */
.form__location-header {
  color: #613d2b;
  font-size: 18px;
  line-height: 25px;
}

.form__location-field {
  align-items: center;
  background-color: #fff;
  display: flex;
  flex: 1;
}

.form__location-button {
  align-items: center;
  background-color: #433434;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-weight: 800;
  justify-content: center;
  line-height: 19px;
  width: 240px;
}

.form__location-icon {
  margin-left: 15px;
}

.form__location-field,
.form__location-button {
  border-radius: 5px;
  margin: 0 15px;
  padding: 12px 15px;
}
